@import url('https://fonts.googleapis.com/css?family=Parisienne|Oswald');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: rgb(0,45,43);
	background:url(../Images/canvas.jpg);
	padding: 0;
	align-content: center;
}
header {
	text-align: right;
	background-color: #FFED74;
    border: .01% black solid;
    background-color: #FFB7CF;
    border: .01% black solid;
    padding: .2%;
}
aside {
	float: left;
	background-color: #E582A2;
	border: .01% black solid;
	padding: .2%;
	width: 30%;
}
h1 {
	font-family: Parisienne; sans-serif;
	font-size: 17em; 
	text-align: left;
	font-weight: normal; 
	font-style: normal;
	float: right;
	background-color: #E55B88;
	border: .01% black solid;
	padding: .2%;
	width: 62%;
}
p {
	font-family: Oswald, Arial; sans-serif;
	font-size: 2em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .01%;
	padding: 1em;
	text-align: center;
}
nav {
	font-family: Oswald, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: .01%
	font-size: 1em;
	text-align: center;
	margin: 1em;
	background-color: #E8C66A;
    border: .01% black solid;
    padding: .2%;
}
nav a{
	margin: 2em;
}
a:hover {
	color: #879ab7;
}
#imagelist {
	margin: .2% auto;
	padding: .2%;
	max-width: 900%;
}
.thumbnails {
	display: block;
	width: 33.333%;
	padding: .2%;
	float: left;
}
.thumbnails img {
	width: 100%;
	display: block;
}
#headerimg img {
	display: inline-block;
	width: 1em;
	float: left;
}
section {
	background-color: #FFE2B8;
    border: .05% black solid;
    padding: .2%;
}
footer {
	font-family: Oswald; Arial; sans-serif;
	text-transform: uppercase;
	text-align: center;
	background-color: #FF957E;
    border: .05% black solid;
    padding: .2%;
}
#headerimg {
	float: left; 
	width: 100%;
}
a{
	color: inherit; text-decoration: none;
	letter-spacing: 1%;
}
.clearfix:after {
	visibility: hidden;
	content:"";
	display: block;
	clear:both;
	font-size: 0;
	height: 0;
}
#wrapper {
	padding: 2em;
}
@media only screen and (max-width: 1294px) {
	h1 {
		text-align: center;
		width: auto;
		font-size: auto;
	}
	#p1 {
		float: none;
		width: auto;
	}
	p {
		font-size: 1.3em;
		float: none;
	}
	<meta name="viewport" content="width=device-width, initial-scale=1">
}