body {
	color: rgb(0,45,43);
	background:url(../Images/wallpaper.jpg);
	font-family: "Bell MT", "Times New Roman"; 
	font-size: 24px; 
	font-weight: normal; 
	font-style: italic; 
	text-align: center;
}
h1 {
	font-family: "Bodoni MT Black", "Times New Roman";
	font-size: 60px; 
}
