@import url('https://fonts.googleapis.com/css?family=Parisienne|Oswald');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: rgb(0,45,43);
	background:url(../Images/textured_paper.png);
	padding: 0;
	font-size: adjust;
}
h1 {
	font-family: Parisienne; sans-serif;
	font-size: 10em; 
	padding: 0;
	text-align: center;
	font-weight: normal; 
	font-style: normal; 
}
p {
	font-family: Oswald, Arial; sans-serif;
	font-size: 2em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 1em;
	text-align: center;
}
nav {
	font-family: Oswald, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px
	font-size: 1em;
	text-align: center;
	margin: 4em;
	padding: 4em;
}
a:hover {
	color: #879ab7;
}
#imagelist {
	margin: 20px auto;
	padding: 20px;
	max-width: 900px;
}
.thumbnails {
	display: block;
	width: 33.333%;
	padding: 5px;
	float: left;
}
.thumbnails img {
	width: 100%;
	display: block;
}
footer {
	font-family: Oswald; Arial; sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding: 1em;
}
a{
	color: inherit; text-decoration: none;
	letter-spacing: 1.5px;
}
.clearfix:after{
	content:"";
	display: block;
	clear:both;
}